.mh-auth-separator-bar-line {
  border-top: 1px solid darkgray;
}
.mh-auth-separator-bar-text {
  color: darkgray;
}

@include extjs-button-small-ui(
  $ui: 'mh-auth-forgot-pass-button',
  $border-color: transparent,
  $border-color-focus: transparent,
  $border-color-focus-pressed: transparent,
  $background-color: transparent,
  $color: rgb(78, 78, 78),
  $font-weight: normal,
  $font-weight-over: bold
);

@include extjs-button-small-ui(
  $ui: 'mh-auth-cancel-button',
  $border-color: transparent,
  $border-color-focus: transparent,
  $border-color-focus-pressed: transparent,
  $background-color: transparent,
  $color: rgb(78, 78, 78),
  $font-weight: normal,
  $font-weight-over: bold
);

@include extjs-button-small-ui(
  $ui: 'mh-auth-green-btn',
  $border-color: $color-soft-green,
  $background-color: $color-soft-green
);

@include extjs-button-small-ui(
  $ui: 'mh-auth-gray-btn',
  $border-color: $color-gray,
  $background-color: $color-gray
);