@include button-ui(
        $ui: 'mh-roundimg-add-btn',
        $color: #fff,
        $icon-color: #fff,
        $background-color: $color-save-green,
        $border-color: darken($color-save-green, 5%),
        $border-radius: 50%,
        $border-radius-big: 50%
);

@include button-ui(
        $ui: 'mh-roundimg-reset-btn',
        $color: #fff,
        $icon-color: #fff,
        $background-color: $color-close-red,
        $border-color: darken($color-close-red, 5%),
        $border-radius: 50%,
        $border-radius-big: 50%
);