@include button-ui(
  $ui: 'mh-phone-photo-snap-btn',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-save-green,
  $border-color: darken($color-save-green, 5%),
  $border-radius: 50%,
  $border-radius-big: 50%
);

@include button-ui(
  $ui: 'mh-phone-photo-dismiss-btn',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-close-red,
  $border-color: darken($color-close-red, 5%),
  $border-radius: 50%,
  $border-radius-big: 50%
);

@include button-ui(
  $ui: 'mh-phone-photo-swap-btn',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-action-blue,
  $border-color: darken($color-action-blue, 5%),
  $border-radius: 50%,
  $border-radius-big: 50%
);