.mh-grid-icon{
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.mh-icon-active{
  background-image: url(mh/images/icons/accept.png) !important;
}
.mh-icon-inactive{
  background-image: url(mh/images/icons/inactive.png) !important;
}
.mh-icon-exclamation{
  background-image: url(mh/images/icons/exclamation.png) !important;
}
.mh-icon-user-tick{
  background-image: url(mh/images/icons/user_tick.png) !important;
}
.mh-icon-user-key{
  background-image: url(mh/images/icons/user_key.png) !important;
}