/*composite data view tab panel styling*/
.mh-desktop-composite-dataview {
  /*tab panel*/
  .x-tab.x-active{
    .x-icon-el, .x-text-el{
      color: $contrast-text-color!important;
    }
  }
  .x-tab.x-hovered{
    .x-icon-el, .x-text-el{
      color: $contrast-text-color!important;
    }
  }
  .x-tab.x-active.x-focused{
    .x-icon-el, .x-text-el{
      color: $contrast-text-color!important;
    }
  }
}