.mh-data-view-img {
  display: inline-block;
  height: 45px;
  span{
    height: 45px;
    vertical-align: middle;
    display: inline-block;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 45px;
    border-radius: 40px;
    margin-right: 5px;
  }
}

.mh-data-view-link {
  font-weight: bold;
  text-decoration: none;
  color: $base-color;
  &:hover {
    text-decoration: underline;
  }
}

@include button-ui(
  $ui: 'mh-data-view-grid-btn-edit'
);

@include button-ui(
  $ui: 'mh-data-view-grid-btn-destroy',
  $color: #a7231a
);

@include button-ui(
  $ui: 'mh-data-view-btn-create'
);

@include button-ui(
  $ui: 'mh-data-view-btn-edit'
);

@include button-ui(
  $ui: 'mh-data-view-btn-destroy',
  $color: #a7231a
);