@include button-ui(
  $ui: 'mh-record-view-btn-prev'
);

@include button-ui(
  $ui: 'mh-record-view-btn-next'
);

$xmh-record-view-button-color: dynamic(white);

@include button-ui(
  $ui: 'mh-record-view-btn-edit',
  $color: $xmh-record-view-button-color
);

@include button-ui(
  $ui: 'mh-record-view-btn-back',
  $color: $xmh-record-view-button-color
);

.mh-record-view-rec-name {
  font-variant: small-caps;
}