@import 'buttons.scss';


.mh-data-view-link {
        font-weight: bold;
        text-decoration: none;
        color: $base-color;
        &:hover {
                text-decoration: underline;
        }
}