@include button-ui(
        $ui: 'mh-phone-edit-view-wizard-gray-button',
        $color: #fff,
        $icon-color: #fff,
        $background-color: #a7a7a7,
        $border-radius: 50%,
        $border-radius-big: 50%
);

@include button-ui(
        $ui: 'mh-phone-edit-view-wizard-soft-green-button',
        $color: #fff,
        $icon-color: #fff,
        $pressed-color: #fff,
        $background-color: $color-soft-green,
        $border-color: darken($color-soft-green, 5%),
        $border-radius: 50%,
        $border-radius-big: 50%
);

@include button-ui(
        $ui: 'mh-phone-edit-view-wizard-soft-purple-button',
        $color: #fff,
        $icon-color: #fff,
        $background-color: $color-soft-purple,
        $border-color: darken($color-soft-purple, 5%),
        $border-radius: 50%,
        $border-radius-big: 50%
);