@include button-ui(
        $ui: 'mh-phone-edit-view-wizard-gray-button',
        $color: #fff,
        $icon-color: #fff,
        $background-color: #a7a7a7,
        $border-radius: 50%,
        $border-radius-big: 50%
);

@include button-ui(
        $ui: 'mh-phone-edit-view-wizard-soft-green-button',
        $color: #fff,
        $icon-color: #fff,
        $pressed-color: #fff,
        $background-color: $color-soft-green,
        $border-color: darken($color-soft-green, 5%),
        $border-radius: 50%,
        $border-radius-big: 50%
);

@include button-ui(
        $ui: 'mh-phone-edit-view-wizard-nav-button',
        $color: #fff,
        $icon-color: #fff,
        $background-color: $color-soft-purple,
        $border-color: darken($color-soft-purple, 5%),
        $border-radius: 50%,
        $border-radius-big: 50%
);

@include button-ui(
        $ui: 'mh-phone-edit-view-wizard-nav-button-disabled',
        $color: darken($color-soft-purple, 35%),
        $icon-color: darken($color-soft-purple, 35%),
        $background-color: darken($color-soft-purple, 10%),
        $border-color: darken($color-soft-purple, 35%),
        //$button-focused-icon-color: darken($color-soft-purple, 35%),
        //$button-hovered-icon-color: darken($color-soft-purple, 35%),
        //$button-icon-color: darken($color-soft-purple, 35%),
        $border-radius: 50%,
        $border-radius-big: 50%
);