.dataview-inline {
  display: inline-block;
  width: 75px;
  height: 75px;

  margin-right: 7px;
  margin-bottom: 7px;

  text-align: center;
  vertical-align: middle;
  line-height: 75px;

  background-color: #4a9fea;
  -webkit-box-shadow: 4px 4px 10px -2px #4d4d4d;
  -moz-box-shadow: 4px 4px 10px -2px #4d4d4d;
  box-shadow: 4px 4px 10px -2px #4d4d4d;
}